body {
    text-align: center;
}


 #startButton {
    height:60px;
    width:150px;
    //font-family: 'Oswald', 'Century Gothic', 'Trebuchet MS', Tahoma;
    font-family: 'Sigmar One', Arial, Helvetica, sans-serif;
    font-size: 25px;

 }

 #glasspane {
 	visibility: hidden;
    position: absolute;
    left: 100px;
    top: 200px;
    padding: 0px 20px 10px 10px;
    background: rgba(255, 255, 255, 0.8);
    border: thin solid rgba(0, 0, 0, 0.6);
    color:# #eeeeee;
    /*font-family: Droid Sans, Arial, Helvetica, sans-serif;*/
    font-family: Sigmar One, Arial, Helvetica, sans-serif;

    font-size: 12px;
    cursor: pointer;
    -webkit-box-shadow: rgba(0,0,0,0.8) 5px 5px 20px;
    -moz-box-shadow: rgba(0,0,0,0.8) 5px 5px 20px;
    box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
 }

 #glasspane h2 {
    font-weight: normal;
 }

 #glasspane .title {
    font-size: 2em;
    color:# rgba(255, 255, 0, 0.8);
 }

 #glasspane a:hover {
    color:# yellow;
 }

 #glasspane a {
    text-decoration: none;
    color:# #cccccc;
    font-size: 3.5em;
 }

 #glasspane p {
    margin: 10px;
    color:# rgba(65, 65, 220, 1.0);
    font-size: 12pt;
    font-family: Sigmar One, Arial, Helvetica, sans-serif;
 }


